:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    z-index:1;
    box-shadow: 0px -26px 40px -20px rgb(0 0 0 / 10%);
}

.locationmusic {
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom : 0;
    height: 60px;
    max-width: 480px;
    background-color: #fff;
    box-shadow: 0px -26px 40px -20px rgb(0 0 0 / 10%);
    display:flex;
    justify-content: space-around;
}

.vietnamese,
.kr,
.us,
.cn {
    width : 110px;
    height: 100%;
    /* background-color: #ec1f55; */
    padding: 5px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.select {
    background-color:var(--primary-color);
    color:  #fff;
}

/* HEADER */

header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}


/* CD */
.cd-inner {
    background: url(./soundwave.png) no-repeat center/contain;
    z-index: -1;
    margin-bottom: 10px;
}

.cd-inner.active {
    animation: soundBeats 1.2s infinite;
}
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px, rgba(14, 30, 37, 0.3) 0px 2px 16px 0px;
}


/* CONTROL */

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.btn-toggle-play:hover {
    cursor: pointer;
    opacity: 0.75;
}
.btn-next:hover {
    cursor: pointer;
    opacity: 0.75;
    color: var(--primary-color);
}
.btn-prev:hover {
    cursor: pointer;
    opacity: 0.75;
    color: var(--primary-color);
}
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}
.progress:hover {
    cursor: pointer;
}
/*Volume*/
.volumes{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 8px 0;
  }

  .volumes .btn{
    color: #666;
    padding: 0 16px;
    font-size: 18px;
  }

  .volumes:hover{
    width: 150px;
  }

  .btn-volume .icon-mute{
    display: none;
  }

  .btn-volume.muted .icon-mute{
    display: inline-block;
  }

  .btn-volume.muted .icon-notmute{
    display: none;
  }

  .volumes:hover .volume-range{
     display: block;
   }
  
  
  .volume-range {
    display: none;
    cursor: pointer;
    width: 100px;
    -webkit-appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
/* PLAYLIST */

.playlist {
    margin-top: 460px;
    padding: 12px;
    box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 10%);
    margin-bottom: 40px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song .spectrum div {
    display: none;
}

.song.active {
    position: relative;
    background-color: var(--primary-color);
}

.song.active .spectrum div {
    display: block;
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
    box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px, rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    position: relative;
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}
.blockoptions {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    z-index: 3;
    background-color: #fff;
    height: 52px;
    border-top: 1px solid #d3d3d3;
    transform: translateY(100px);
    transition: transform linear 0.3s;
    animation: option 0.3s linear;

}
.blockoptions.active {
    transform: translateY(0px);
}
.blockoptions .download {
    height: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #d3d3d3;
}

.download a {
    text-decoration: none;
    color: #000;
    display: block;
}

.box {
    position: fixed;
    background-color: #666;
    opacity: 0.2;
    z-index: 2;
    height: 100%;
    width: 100%;
    max-width: 480px;
    top: 0;
    bottom: 0;
    display: none;
}
.box.active {
    display: block;
}
@keyframes option {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Spectrum */
.spectrum {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
}
.spectrum div, .spectrum div:before, .spectrum div:after {
    width: 9px;
    height: 3px;
    background: #57C7DB;
    position: relative;
    transform: translate(-11px, 5px);
    box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    animation-name: bar1;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.spectrum div:before {
    content: '';
    position: absolute;
    transform: translate(11px, 0);
    box-shadow: 0 -3px 0 #57C7DB;
    animation-name: bar2;
}

.spectrum div:after {
    content: '';
    position: absolute;
    transform: translate(22px, 0);
    box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    animation-name: bar3;
}
.spectrum.active div, .spectrum.active div:before, .spectrum.active div:after {
    animation-play-state: running;
}
.spectrum.paused div, .spectrum.paused div:before, .spectrum.paused div:after {
    animation: none;
    box-shadow: 0 -3px 0 #57c7db;
}
@keyframes bar1 {
    0%, 19.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    80%, 100% {
        box-shadow: none;
    }
}

@keyframes bar2 {
    0%, 19.9% {
        box-shadow: none;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }

    80%, 100% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }
}

@keyframes bar3 {
    0%, 19.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }

    80%, 100% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }
}
/*CD animation*/
@keyframes soundBeats {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(0deg) scale(1.02);
    }

    45% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(0deg) scale(1.02);
    }

    70% {
        transform: rotate(0deg) scale(1);
    }

    75% {
        transform: rotate(0deg) scale(1.02);
    }

    95% {
        transform: rotate(0deg) scale(1);
    }

}